In [1]:
d = {}
print(type(d))

<class 'dict'>

In [4]:
# d = {<key>:<value>,<key>:<velue>}
d = {"a":"apple","b":"ball"}
print(d["a"])

apple

In [5]:
# Dictinary
# -Indexing
# -Duplicate members
# -No duplicate index
# -Ordered
# -Mutable Datatype

In [6]:
d = {"a":"apple","b":"ball"}
print(d["a"])

apple

In [7]:
d = {"a":"apple","b":"ball","A":"apple"}
print(d["a"])

apple

In [9]:
d = {"a":"apple","b":"ball","a":"ant"}
print(d)

{'a': 'ant', 'b': 'ball'}

In [11]:
d = {"b":"ball","a":"ant"}
print(d)

{'b': 'ball', '1a': 'ant'}

In [16]:
d = {}
d["a"] = "Apple"
d["b"] = "Ball"
d["c"] = "Cat"
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [17]:
d = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
d["a"] = "Ant"
d

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [18]:
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    key = name
    value = phone
    info[key]=value
    
print(info)

Enter n = 2
Enter name = Ram
Enter phone = 9856554543
Enter name = Shyam
Enter phone = 9807543432
{'Ram': 9856554543, 'Shyam': 9807543432}

In [19]:
a = [("a","Apple"),("b","Ball")]
dict(a)

{'a': 'Apple', 'b': 'Ball'}

In [20]:
a = {'Ram': 9856554543, 'Shyam': 9807543432}
for i in a:
    print(i)

Ram
Shyam

In [21]:
a = {'Ram': 9856554543, 'Shyam': 9807543432}
for i in a.values():
    print(i)

9856554543
9807543432

In [22]:
a = {'Ram': 9856554543, 'Shyam': 9807543432}
for i in a.items():
    print(i)

('Ram', 9856554543)
('Shyam', 9807543432)

In [24]:
a = {'Ram': 9856554543, 'Shyam': 9807543432}
b = {"Hari":9845443432}
a.update(b)
print(a)

{'Ram': 9856554543, 'Shyam': 9807543432, 'Hari': 9845443432}

In [27]:
d = {'Ram': 9856554543, 'Shyam': 9807543432, 'Hari': 9845443432}
del d["Ram"]
d

{'Shyam': 9807543432, 'Hari': 9845443432}

In [31]:
d = {'Ram': 9856554543, 'Shyam': 9807543432, 'Hari': 9845443432}
print(d.pop("Ram"))
print(d)

9856554543
{'Shyam': 9807543432, 'Hari': 9845443432}

In [32]:
d = {'Ram': 9856554543, 'Shyam': 9807543432, 'Hari': 9845443432}
d= {['Ram']: 9856554543, ['Shyam']: 9807543432, ['Hari']: 9845443432}

TypeError: unhashable type: 'list'

In [34]:
d = {('Ram',): 9856554543, ('Shyam',): 9807543432, ('Hari',): 9845443432}
d

{('Ram',): 9856554543, ('Shyam',): 9807543432, ('Hari',): 9845443432}

In [37]:
# list inside dict
d = {"Ram":[9841078765,9808445439],"Shyam":[9841006765,9808445678]}
d

{'Ram': [9841078765, 9808445439], 'Shyam': [9841006765, 9808445678]}

In [38]:
d = {"Ram":[9841078765,9808445439],"Shyam":[9841006765,9808445678]}
d["Ram"]

[9841078765, 9808445439]

In [40]:
d = {"Ram":[9841078765,9808445439],"Shyam":[9841006765,9808445678]}
d["Ram"][0]

9841078765

In [43]:
d = {"Ram":[9841078765,9808445439],"Shyam":[9841006765,9808445678]}
d["Ram"].append(4489776)
d

{'Ram': [9841078765, 9808445439, 4489776], 'Shyam': [9841006765, 9808445678]}

In [44]:
d = {"Ram":[9841078765,9808445439],"Shyam":[9841006765,9808445678]}
d["Ram"][0] = 9876554543
d

{'Ram': [9876554543, 9808445439], 'Shyam': [9841006765, 9808445678]}

In [47]:
a = {'Ram': [9841078765, 9808445439, 4489776], 'Shyam': [9841006765, 9808445678]}
del a["Ram"][2]
print(a)

{'Ram': [9841078765, 9808445439], 'Shyam': [9841006765, 9808445678]}

In [48]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc = "))
    ncell = int(input("Enter ncell ="))
    d[name] = [ntc,ncell]
    
print(d)

Enter n = 2
Enter name = Ram
Enter ntc = 9845443321
Enter ncell =9808445675
Enter name = Shyam
Enter ntc = 9856445432
Enter ncell =9806775654
{'Ram': [9845443321, 9808445675], 'Shyam': [9856445432, 9806775654]}

In [1]:
# list inside dict
# dict inside list
# dict inside dict
# tuple inside dit
# dict inside tuple

In [2]:
a = [{"name":"Rita","age":34,"add":"Patan"},
    {"name":"Sita","age":34,"add":"Bara"}]
print(a)

[{'name': 'Rita', 'age': 34, 'add': 'Patan'}, {'name': 'Sita', 'age': 34, 'add': 'Bara'}]

In [3]:
for i in a:
    print(i)

{'name': 'Rita', 'age': 34, 'add': 'Patan'}
{'name': 'Sita', 'age': 34, 'add': 'Bara'}

In [5]:
a = [{"name":"Rita","age":34,"add":"Patan"},
    {"name":"Sita","age":34,"add":"Bara"}]
a

[{'name': 'Rita', 'age': 34, 'add': 'Patan'},
 {'name': 'Sita', 'age': 34, 'add': 'Bara'}]

In [6]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    d = {"name":name,"age":age,"add":add}
    l.append(d)
    
print(l)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Enter name = Shyam
Enter age = 78
Enter add = Bara
[{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}, {'name': 'Shyam', 'age': 78, 'add': 'Bara'}]

In [9]:
a = [{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}, {'name': 'Shyam', 'age': 78, 'add': 'Bara'}]
a[0]["name"] = "Ram Prasad"
a

[{'name': 'Ram Prasad', 'age': 34, 'add': 'Kathmandu'},
 {'name': 'Shyam', 'age': 78, 'add': 'Bara'}]

In [10]:
a = {'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}
list(a)

['name', 'age', 'add']

In [11]:
a = {'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}
list(a.values())

['Ram', 34, 'Kathmandu']

In [13]:
a = {'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}
b = list(a.items())
b

[('name', 'Ram'), ('age', 34), ('add', 'Kathmandu')]

In [21]:
c = b[0]
d = list(c)
d[0] = "Name"
e = tuple(d)
e

('Name', 'Ram')

In [22]:
b[0] = e
b

[('Name', 'Ram'), ('age', 34), ('add', 'Kathmandu')]

In [23]:
dict(b)

{'Name': 'Ram', 'age': 34, 'add': 'Kathmandu'}

In [25]:
# dict inside dict
# a = {'Ram': [9841078765, 9808445439], 'Shyam': [9841006765, 9808445678]}
a = {1:{"name":"Ram","ntc":9841234567,"ncell":9808445678},
    2:{"name":"Ram","ntc":9841238976,"ncell":9808467543}}
for i in a.items():
    print(i)

(1, {'name': 'Ram', 'ntc': 9841234567, 'ncell': 9808445678})
(2, {'name': 'Ram', 'ntc': 9841238976, 'ncell': 9808467543})

In [26]:
info = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    d = {"name":name,"age":age,"add":add}
    info[i] = d
    
print(l)

Enter n = 2
Enter name = Ram
Enter age = 78
Enter add = Kathmandu
Enter name = Ram
Enter age = 45
Enter add = Kathmandu
[{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}, {'name': 'Shyam', 'age': 78, 'add': 'Bara'}]

In [27]:
print(info)

{1: {'name': 'Ram', 'age': 78, 'add': 'Kathmandu'}, 2: {'name': 'Ram', 'age': 45, 'add': 'Kathmandu'}}

In [28]:
a = {1: {'name': 'Ram', 'age': 78, 'add': 'Kathmandu'}, 
     2: {'name': 'Ram', 'age': 45, 'add': 'Kathmandu'}}
a[3] = {"name":"Shyam","age":34,"add":"Patan"}
a

{1: {'name': 'Ram', 'age': 78, 'add': 'Kathmandu'},
 2: {'name': 'Ram', 'age': 45, 'add': 'Kathmandu'},
 3: {'name': 'Shyam', 'age': 34, 'add': 'Patan'}}

In [31]:
a = {1: {'name': 'Ram', 'age': 78, 'add': 'Kathmandu'},
 2: {'name': 'Ram', 'age': 45, 'add': 'Kathmandu'},
 3: {'name': 'Shyam', 'age': 34, 'add': 'Patan'}}
a[1]["name"] = "Ram Prasad"
a

{1: {'name': 'Ram Prasad', 'age': 78, 'add': 'Kathmandu'},
 2: {'name': 'Ram', 'age': 45, 'add': 'Kathmandu'},
 3: {'name': 'Shyam', 'age': 34, 'add': 'Patan'}}

In [32]:
del a[3]
print(a)

{1: {'name': 'Ram Prasad', 'age': 78, 'add': 'Kathmandu'}, 2: {'name': 'Ram', 'age': 45, 'add': 'Kathmandu'}}

In [ ]:
a = {'Ram': (9845443321, 9808445675), 'Shyam': (9856445432, 9806775654)}
b = ({'name': 'Ram Prasad', 'age': 78, 'add': 'Kathmandu'},
    {'name': 'Ram', 'age': 45, 'add': 'Kathmandu'},
    {'name': 'Shyam', 'age': 34, 'add': 'Patan'})

In [ ]:
# WAP for billing application using list,dict
# WAP for result management system  using list,dict