In [1]:
b = open('data.txt','x')
b.close()

In [3]:
b = open('data.txt','r')
c = b.read()
print(c)
print(type(c))
b.close()

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World

<class 'str'>

In [4]:
b = open('data.txt','r')
c = b.read(10)
print(c)
print(type(c))
b.close()

1.Hello Wo
<class 'str'>

In [5]:
b = open('data.txt','r')
c = b.readline()
print(c)
print(type(c))
b.close()

1.Hello World

<class 'str'>

In [8]:
b = open('data.txt','a')
b.write("\nHello WOrld")
b.close()

In [9]:
s = ""
n = int(input("Enter n ="))
b = open('data.txt','w')
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone=")
    info = f"{name} {phone}\n"
    s = s+info
    
print(s)
b.write(s)
b.close()

Enter n =2
Enter name = Ram
Enter phone=9856556543
Enter name = Shyam
Enter phone=9845445678
Ram 9856556543
Shyam 9845445678

In [10]:
b = open('data.txt','r')
c = b.read()
print(c)
print(type(c))
b.close()

Ram 9856556543
Shyam 9845445678

<class 'str'>

In [12]:
info = c.split('\n')[0:-1]
print(info)

['Ram 9856556543', 'Shyam 9845445678']

In [19]:
final_data = []
for i in info:
    x = i.split()
    final_data.append(x)
    
print(final_data)

[['Ram', '9856556543'], ['Shyam', '9845445678']]

In [21]:
s = ""
n = int(input("Enter n ="))
b = open('bill.txt','w')
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price ="))
    quantity = int(input("Enter quantity = "))
    total=price*quantity
    info = f"{name},{price},{quantity},{total}\n"
    s = s+info
    
print(s)
b.write(s)
b.close()

Enter n =2
Enter name = Apple
Enter price =100
Enter quantity = 2
Enter name = Banana
Enter price =200
Enter quantity = 2
Apple,100,2,200
Banana,200,2,400

In [25]:
s = ""
n = int(input("Enter n ="))
b = open('bill.csv','w')
b.write('Name,Price,Quantity,Total\n')
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price ="))
    quantity = int(input("Enter quantity = "))
    total=price*quantity
    info = f"{name},{price},{quantity},{total}\n"
    s = s+info
    
print(s)
b.write(s)
b.close()

Enter n =2
Enter name = Apple
Enter price =100
Enter quantity = 4
Enter name = Ball
Enter price =40
Enter quantity = 8
Apple,100,4,400
Ball,40,8,320

In [27]:
b = open('bill.csv','r')
c = b.read()
print(c)
print(type(c))
b.close()

Name,Price,Quantity,Total
Apple,100,4,400
Ball,40,8,320

<class 'str'>

In [28]:
d = c.replace('Apple','Green Apple')
d

'Name,Price,Quantity,Total\nGreen Apple,100,4,400\nBall,40,8,320\n'

In [29]:
b = open('bill.csv','w')
b.write(d)
b.close()

In [30]:
import os
os.remove('tweets11.csv')

In [34]:
import shutil as s
src = 'bill.txt'
dst = 'new/'
s.copy(src,dst)

'new/bill.txt'

In [36]:
import shutil
shutil.copytree('new', 'new1/new/')

'new1/new/'

In [ ]:
import shutil
shutil.move('dir_1', 'backup/')

In [ ]:
import os
os.rename('first.zip', 'first_01.zip')