In [1]:
# Python Collections
# -list
# -tuple
# -dictionary
# -set

In [2]:
# # list
# -Indexed
# -ordered
# -duplicate
# -Mutable

In [3]:
a = ["Apple","Ball","Cat","Dog"]
b = [1,2,3,4,5,6]
print(a)
print(b)
print(type(a),type(b))

['Apple', 'Ball', 'Cat', 'Dog']
[1, 2, 3, 4, 5, 6]
<class 'list'> <class 'list'>

In [7]:
print(a[3])

Dog

In [12]:
a = ["Apple","Ball","Cat","Dog","Fish","Gray"]
print(a[0])
print(a[0:4])
print(a[0:6:2])

Apple
['Apple', 'Ball', 'Cat', 'Dog']
['Apple', 'Cat', 'Fish']

In [13]:
a = ["Apple","Ball","Cat","Dog","Fish","Gray"]
print(a)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Gray']

In [15]:
a = [1,2,3]
b = [2,3,4]
print(a+b)
print(b+a)

[1, 2, 3, 2, 3, 4]
[2, 3, 4, 1, 2, 3]

In [19]:
a = [1,2,3]
b = 5
print(a+b)

TypeError: can only concatenate list (not "int") to list

In [16]:
a = ["Apple","Ball","Cat"]
print(a*2)

['Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat']

In [18]:
a = ["Apple","Ball","Cat","Dog","Fish","Gray"]
a[0] = "Ant"
print(a)

['Ant', 'Ball', 'Cat', 'Dog', 'Fish', 'Gray']

In [22]:
# a = list()
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a = a+[x]
    
print(a)

Enter n = 5
Enter x = 45
Enter x = 6
Enter x = 43
Enter x = 56
Enter x = 34
[45, 6, 43, 56, 34]

In [24]:
print(max(a))
print(min(a))
print(sum(a))
print(sum(a)/n)

56
6
184
36.8

In [25]:
a.sort()
print(a)

[6, 34, 43, 45, 56]

In [26]:
a.reverse()
print(a)

[56, 45, 43, 34, 6]

In [27]:
# a = list()
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    a = a+[x]
    
print(a)

Enter n = 5
Enter x = Ram
Enter x = Shyam
Enter x = Hari
Enter x = Sita
Enter x = Gita
['Ram', 'Shyam', 'Hari', 'Sita', 'Gita']

In [28]:
a.sort()
print(a)

['Gita', 'Hari', 'Ram', 'Shyam', 'Sita']

In [29]:
for i in a:
    print(i)

Gita
Hari
Ram
Shyam
Sita

In [32]:
a = ['Gita', 'Hari', 'Ram', 'Shyam', 'Sita']
n = len(a)
for i in range(n):
    print(a[i])

Gita
Hari
Ram
Shyam
Sita

In [34]:
a = ['Gita', 'Hari', 'Ram', 'Shyam', 'Sita']
name = input("Enter a = ")
if name in a:
    print("Yes")
    print(a.count(name))

Enter a = Gita
Yes
1

In [35]:
s = ""
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone=")
    info = f"{name} {phone}\n"
    s = s+info
    
print(s)

Enter n =2
Enter name = Ram
Enter phone=9856554543
Enter name = Shyam
Enter phone=9856554432
Ram 9856554543
Shyam 9856554432

In [38]:
a = "Ram Shyam Hari Sita"
a.split()

['Ram', 'Shyam', 'Hari', 'Sita']

In [37]:
l = s.split('\n')
print(l)

['Ram 9856554543', 'Shyam 9856554432', '']

In [39]:
l[0]

'Ram 9856554543'

In [40]:
# append()
a = ['Ram', 'Shyam', 'Hari', 'Sita']
a.append("Rita")
print(a)

['Ram', 'Shyam', 'Hari', 'Sita', 'Rita']

In [41]:
# a = list()
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    a.append(x)
    
print(a)

Enter n = 3
Enter x = asdas
Enter x = asd
Enter x = asd
['asdas', 'asd', 'asd']

In [42]:
# insert()
a = ['Ram', 'Shyam', 'Hari', 'Sita']
a.insert(1,"Nabin")
print(a)

['Ram', 'Nabin', 'Shyam', 'Hari', 'Sita']

In [45]:
a = ['Ram', 'Nabin', 'Shyam', 'Hari', 'Sita']
a[0] = "Ram Prasad"
print(a)

['Ram Prasad', 'Nabin', 'Shyam', 'Hari', 'Sita']

In [46]:
# del remove() pop()

In [47]:
a = ['Ram', 'Nabin', 'Shyam', 'Hari', 'Sita']
del a[0]
print(a)

['Nabin', 'Shyam', 'Hari', 'Sita']

In [49]:
a = ['Ram', 'Nabin', 'Shyam', 'Hari', 'Sita']
del a[0:3]
print(a)

['Hari', 'Sita']

In [48]:
a = ['Ram', 'Nabin', 'Shyam', 'Hari', 'Sita']
a.remove("Ram")
print(a)

['Nabin', 'Shyam', 'Hari', 'Sita']

In [50]:
a = ['Ram', 'Nabin', 'Shyam', 'Hari', 'Sita']
a.pop()
print(a)

['Ram', 'Nabin', 'Shyam', 'Hari']

In [51]:
a = ['Ram', 'Nabin', 'Shyam', 'Hari', 'Sita']
a.pop(0)
print(a)

['Nabin', 'Shyam', 'Hari', 'Sita']

In [52]:
a = ['Ram', 'Nabin', 'Shyam', 'Hari', 'Sita']
b = a.pop(0)
print(a)
print(b)

['Nabin', 'Shyam', 'Hari', 'Sita']
Ram

In [59]:
a = "kjasadj djh asjdhas "
a.strip(' ')

'kjasadj djh asjdhas'

In [1]:
a = ['Ram', 'Nabin', 'Shyam', 'Ram','Hari', 'Sita','Ram']
a.remove("Ram")
print(a)

['Nabin', 'Shyam', 'Ram', 'Hari', 'Sita', 'Ram']

In [2]:
a = ['Ram', 'Nabin', 'Shyam', 'Ram','Hari', 'Sita','Ram']
for i in a:
    if i == "Ram":
        a.remove("Ram")
print(a)

['Nabin', 'Shyam', 'Hari', 'Sita']

In [1]:
b = []
a = ['Ram', 'Nabin', 'Shyam', 'Ram','Hari', 'Sita','Ram']
for i in a:
    if i != "Ram":
        b.append(i)
print(b)

['Nabin', 'Shyam', 'Hari', 'Sita']

In [4]:
b = []
a = ['Ram', 'Nabin', 'Shyam', 'Ram','Hari', 'Sita','Ram']
n = len(a)
for i in range(n):
    if a[i] == "Ram":
        b.append(i)
print(b)

[0, 3, 6]

In [6]:
# list inside list
a = [1,2,3,4,5,6,7,8,9]
a = [[1,2,3],[4,5,6],[7,8,9]]
print(type(a))
print(len(a))

<class 'list'>
3

In [9]:
a = [[1,2,3],[4,5,6],[7,8,9]]
print(a[2])

[7, 8, 9]

In [11]:
a = [[1,2,3],[4,5,6],[7,8,9]]
b = [[1,2,3]]
print(a+b)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [1, 2, 3]]

In [12]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    data = [name,age,add]
    info.append(data)
print(info)

Enter n = 2
Enter name = Ram
Enter age = 67
Enter address = Baluwatar
Enter name = Shyam
Enter age = 67
Enter address = Patan
[['Ram', 67, 'Baluwatar'], ['Shyam', 67, 'Patan']]

In [13]:
a = [['Ram', 67, 'Baluwatar'], ['Shyam', 67, 'Patan']]
print(a[0])

['Ram', 67, 'Baluwatar']

In [15]:
a = [['Ram', 67, 'Baluwatar'], ['Shyam', 67, 'Patan']]
print(a[0][0])

Ram

In [16]:
a = [['Ram', 67, 'Baluwatar'], ['Shyam', 67, 'Patan']]
a[0][0] = "Hari"
print(a)

[['Hari', 67, 'Baluwatar'], ['Shyam', 67, 'Patan']]

In [18]:
a = [['Ram', 67, 'Baluwatar'], ['Shyam', 67, 'Patan']]
a[1][1] = 76
print(a)

[['Ram', 67, 'Baluwatar'], ['Shyam', 76, 'Patan']]

In [19]:
a = [['Ram', 67, 'Baluwatar'], ['Shyam', 67, 'Patan']]
del a[1]
print(a)

[['Ram', 67, 'Baluwatar']]

In [21]:
a = [['Ram', 67, 'Baluwatar'], ['Shyam', 67, 'Patan']]
del a[1][2]
print(a)

[['Ram', 67, 'Baluwatar'], ['Shyam', 67]]

In [22]:
bill = []
grand_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Entre name of product = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    grand_total = grand_total+total
    data = [name,price,quantity,total]
    bill.append(data)
    
print(grand_total)
print(bill)

Enter n = 2
Entre name of product = Apple
Enter price = 100
Enter quantity = 2
Entre name of product = Banana
Enter price = 200
Enter quantity = 4
1000
[['Apple', 100, 2, 200], ['Banana', 200, 4, 800]]

In [24]:
n = int(input("Enter index = "))
print(bill[n])

Enter index = 1
['Banana', 200, 4, 800]