In [1]:
a = (1,2,3,4)
print(type(a))

<class 'tuple'>

In [5]:
a = (1,)
print(type(a))

<class 'tuple'>

In [6]:
# Tuple
# -Indexing
# -ordered
# -duplicate members
# -Imutable data dype

In [7]:
a = ("Apple","Ball","Cat","Dog","Fish")
print(a[0])

Apple

In [8]:
a = ("Apple","Ball","Cat","Dog","Fish")
print(a[0:4])

('Apple', 'Ball', 'Cat', 'Dog')

In [9]:
a = ("Apple","Ball","Cat","Dog","Fish")
print(a[0:4:2])

('Apple', 'Cat')

In [10]:
a = ("Apple","Ball","Cat","Dog","Fish")
print(a)

('Apple', 'Ball', 'Cat', 'Dog', 'Fish')

In [11]:
a = (1,2,3)
b = (4,5,6)
print(a+b)

(1, 2, 3, 4, 5, 6)

In [12]:
a=(1,2,3)
print(a*2)

(1, 2, 3, 1, 2, 3)

In [13]:
t = ()
n= int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    t = t+(x,)
    
print(t)

Enter n = 4
Enter x = Apple
Enter x = Ball
Enter x = Cat
Enter x = Dog
('Apple', 'Ball', 'Cat', 'Dog')

In [15]:
l = list(t)
print(l)
del l[0]
tuple(l)

['Apple', 'Ball', 'Cat', 'Dog']

('Ball', 'Cat', 'Dog')

In [17]:
def cal():
    l = 3
    b = 4
    h = 5
    a = l*b
    v = a*h
    return a,v

cal()

(12, 60)

In [18]:
# tuple inside tuple
a = ((1,2,3),(4,5,6),(7,8,9))
print(a[0])

(1, 2, 3)

In [19]:
info = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    data = ((name,age,add),)
    info = info+data
    print(info)

Enter n = 3
Enter name = Ram
Enter age = 67
Enter address = Kathmandu
(('Ram', 67, 'Kathmandu'),)
Enter name = Shyam
Enter age = 45
Enter address = Patan
(('Ram', 67, 'Kathmandu'), ('Shyam', 45, 'Patan'))
Enter name = Sita
Enter age = 23
Enter address = Bara
(('Ram', 67, 'Kathmandu'), ('Shyam', 45, 'Patan'), ('Sita', 23, 'Bara'))

In [24]:
list_data = []
info = (('Ram', 67, 'Kathmandu'), ('Shyam', 45, 'Patan'), ('Sita', 23, 'Bara'))
info = list(info)
for i in info:
    x = list(i)
    list_data.append(x)
    
print(list_data)

[['Ram', 67, 'Kathmandu'], ['Shyam', 45, 'Patan'], ['Sita', 23, 'Bara']]

In [27]:
list_data = ()
info = [['Ram', 67, 'Kathmandu'], ['Shyam', 45, 'Patan'], ['Sita', 23, 'Bara']]
info = tuple(info)
for i in info:
    x = tuple(i)
    list_data = list_data+((x),)
    
print(list_data)

(('Ram', 67, 'Kathmandu'), ('Shyam', 45, 'Patan'), ('Sita', 23, 'Bara'))

In [28]:
a = ([1,2,3],(4,5,6),(7,8,9))
b = [(1,2,3),(4,5,6),(7,8,9)]

In [31]:
a = ([1,2,3],[4,5,6],[7,8,9])
a[0].append(4)
print(a)

([1, 2, 3, 4], [4, 5, 6], [7, 8, 9])

In [34]:
a = ([1, 2, 3, 4], [4, 5, 6], [7, 8, 9])
del a[0][3]
print(a)

([1, 2, 3], [4, 5, 6], [7, 8, 9])

In [36]:
b = [(1,2,3),(4,5,6),(7,8,9)]
b[0] = (11,22,33)
print(b)

[(11, 22, 33), (4, 5, 6), (7, 8, 9)]