In [19]:
import mysql.connector
#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "class8am"
)
db = database.cursor()

In [3]:
db.execute("SELECT * FROM bill")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Momo', 100, 3, 300)
(2, 'coke', 50, 2, 100)
(3, 'Chowmin', 150, 1, 150)
(4, 'fanta', 60, 2, 120)

In [5]:
db.execute("SELECT name,price FROM bill")
result =db.fetchall()
for x in result:
    print(x)

('Momo', 100)
('coke', 50)
('Chowmin', 150)
('fanta', 60)

In [6]:
db.execute("SELECT * FROM bill WHERE price >50")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Momo', 100, 3, 300)
(3, 'Chowmin', 150, 1, 150)
(4, 'fanta', 60, 2, 120)

In [7]:
db.execute("SELECT name,price FROM bill WHERE price >50")
result =db.fetchall()
for x in result:
    print(x)

('Momo', 100)
('Chowmin', 150)
('fanta', 60)

In [8]:
db.execute("INSERT INTO bill(Sn, name, price, quantity, total) VALUES (5,'Pizza',300,2,600)")
database.commit()

In [9]:
sn = 6
name = "Tea"
price = 20
qty = 2
total = 40

db.execute(f"INSERT INTO bill(Sn, name, price, quantity, total) VALUES ({sn},'{name}',{price},{qty},{total})")
database.commit()

In [2]:
sn = int(input("Enter sn = "))

price = int(input("Enter price = "))


db.execute(f"UPDATE bill SET price = '{price}' WHERE Sn = '{sn}'")
database.commit()

Enter sn = 1
Enter price = 200

In [10]:
sn = int(input("Enter sn = "))
price = int(input("Enter price = "))

def product():
    db.execute(f"SELECT quantity FROM bill WHERE Sn = {sn}")
    result =db.fetchall()
    for x in result:
        return x[0]

total = price*product()
print(total)
sql = f"UPDATE bill SET price = '{price}' , total = '{total}' WHERE Sn = '{sn}'"
print(sql)
db.execute(sql)
database.commit()

Enter sn = 1
Enter price = 110
330
UPDATE bill SET price = '110' , total = '330' WHERE Sn = '1'

In [2]:
sn = int(input("Enter sn = "))



db.execute(f"DELETE FROM bill WHERE Sn = '{sn}'")
database.commit()

Enter sn = 6

In [14]:
name = input("Enter name = ")
db.execute(f"SELECT * FROM food_iteams WHERE iteams LIKE '%{name}%'")
result =db.fetchall()
for x in result:
    print(x)

Enter name = momo
(8, 'MoMo', 'Tuna-panzanella-salad-749x562.jpg', 'Choose...')
(13, 'MoMo', 'tibetan-pema-restaurant.jpg', 'Nepali')
(18, 'Special Soup MoMo', 'tibetan-pema-restaurant.jpg', 'Nepali')

In [21]:
sn =6
n = int(input("Enter n = "))
for i in range(n):
    
    name = input("Enter food = ")
    price = int(input("Enter price = "))
    qty = int(input("Enter qty"))
    total = price*qty
    db.execute(f"INSERT INTO bill(Sn, name, price, quantity, total) VALUES ({sn},'{name}',{price},{qty},{total})")
    sn = sn+1
database.commit()

Enter n = 2
Enter food = Thukpa
Enter price = 100
Enter qty3
Enter food = Chili Momo
Enter price = 200
Enter qty4